.processingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0rem;
}

.processingTitle {
  font-size: 1.75rem;
  line-height: 2rem;
  color: #fafafa;
  text-align: center;
}

.loader {
  width: 100px;
  margin: 1rem 0rem;
}
