* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171717;
}

.container {
  width: 90%;
  max-width: 500px;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5rem;
}

.tabsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.tabButton {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fafafa;
  font-weight: 400;
  font-size: 1rem;
  border-bottom: 2px solid transparent;
}

.tabButton:hover {
  border-bottom: 2px solid #fafafa;
}

.actionBtn {
  width: 100%;
  outline: none;
  border: 2px solid #20bf00;
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 0.25rem;
  color: #20bf00;
  font-size: 1rem;
  font-weight: bold;
}
