.appContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
}

.title {
  font-size: 3rem;
  line-height: 3.25rem;
  text-align: center;
  padding: 2rem;
  margin: 2rem 0rem;
  color: #57ff62;
  max-width: 600px;
  animation: slideUp 0.7s ease forwards;
}

.balanceTitle {
  width: 100%;
  color: #fafafa;
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.15rem;
}

.connectWalletBtn {
  padding: 1rem 2rem;
  background-color: #57ff62;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 0.25rem;
  border: 3px solid transparent;
  outline: none;
  transition: all 0.3s ease;
  animation: appear 0.9s ease forwards;
}

.connectWalletBtn:hover {
  transform: scale(1.05);
  background-color: transparent;
  border: 3px solid #57ff62;
  color: #fafafa;
}

.balanceContainer {
  display: flex;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  animation: slideDown 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.balanceDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background-color: #1c1c1c;
  border-radius: 0.25rem;
  margin: 1rem;
  border: 2px solid #dcdcdc;
  width: 225px;
}

.balanceDivIcon {
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 1.25rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.balanceIcon {
  height: 1.5rem;
}

.balanceLabel {
  color: #fafafa;
  margin-left: 0.5rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.balanceValue {
  width: 100%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #57ff62;
  text-align: end;
}

.exchangeButtons {
  display: flex;
}

.exchangeBtn {
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem;
  transition: all 0.3s ease;
  background-color: #57ff62;
  outline: none;
  border-radius: 0.25rem;
  border: none;
  animation: appear 0.5s ease forwards;
}

.exchangeBtn:hover {
  transform: scale(1.05);
}

@media (max-width: 699px) {
  .balanceContainer {
    padding: 1rem;
    width: min-content;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding: 0.5rem;
    margin: 5rem 0rem 2rem 0rem;
  }
}

/* ANIMATION */
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
  }
  to {
    opacity: 1;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    clip-path: polygon(0% 100%, 0% 100%, 100% 100%, 100% 100%);
  }
  to {
    opacity: 1;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}

@keyframes modalIn {
  from {
    opacity: 0;
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
  }
  to {
    opacity: 1;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}
