.sellTokenContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.sellTokenTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #fafafa;
  margin-bottom: 3rem;
}

.sellTokenInput {
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-size: 0.85rem;
}

.sellBtn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.25rem;
}
